$color-white: #ffffff;
$color-disabled: #ccc;
$color-concrete: #dcd8d8;
$color-doveGray: #666;
$color-black: #000;

$color-primaryLight: #bc477b;
$color-primary: #880e4f;
$color-primaryDark: #560027;

$font-default: 10px;
