$color-white: #ffffff;
$color-black: #000;
$color-concrete: #dcd8d8;
$color-primaryLight: #bc477b;
$color-primary: #880e4f;
$color-primaryDark: #560027;
$color-error: red;
$color-success: #14b323;

$font-default: 10px;
