@import '../../assets/styles/abstracts/variables.scss';

.input {
  padding: 1rem 2rem;
  min-height: 5rem;
  border: 1px solid $color-primaryLight;
  border-radius: 7px;
  position: relative;
  transition: all .3s;
  display: flex;
  align-items: center;
  
  &:focus {
    border: 2px solid $color-primary;
  }
  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__status {
    position: absolute;
    right: 12px;
    font-size: 8px;
  }

  &__field {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
  }
}
