@import '../../assets/styles/abstracts/variables.scss';

.login {
  height: 100vh;
  background-color: $color-concrete;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  &__title-form {
    color: $color-primary;
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  &__new-account {
    width: max-content;
    margin: 0 auto;
    color: $color-primary;
    font-size: 1.5rem;
    margin-top: 1.6rem;
    text-align: center;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

}