@import '../../../assets/styles/abstracts/variables.scss';

.formStatus {
  &__spinner {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &__error {
    font-size: 2rem;
    color: $color-primaryLight;
    margin: 2rem 0;
  }
}

