@import '../../assets/styles/abstracts/variables.scss';

.header {
  background-color: $color-primary;
  color: $color-white;
  border-top: 4rem solid $color-primaryDark;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-top: 2rem;
    font-weight: 400;
  }
}
